html, body 
	height: 100%
	padding: 0
	margin: 0

.title 
	margin: 0 auto 
	text-align: center
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
	position: relative
	z-index: 99
	top: 44%
	transform: translateY(-44%)

	h1, h2
		color: #fff
		line-height: 1.4em
		margin: 0

	h1 
		font-weight: 300 
		text-shadow: 1px 0px 20px rgba(255,255,255,0.3)
	h2 
		font-weight: 100
		text-shadow: 1px 0px 20px rgba(255,255,255,0.5)

.container
	height: 100%
	max-width: 100%
	overflow: hidden
	background-image: url("../images/background.jpg")

	img 
		height: 100%
		width: 100%
		max-width: 100%

.particle
	position: absolute
	top: 0
	left: 0
	display: block

.one
	-webkit-animation: spin 2000s linear infinite
	-moz-animation: spin 2000s linear infinite
	animation: spin 2000s linear infinite

.two
	-webkit-animation: spin 600s linear infinite
	-moz-animation: spin 600s linear infinite
	animation: spin 600s linear infinite

.three
	-webkit-animation: spin 500s linear infinite
	-moz-animation: spin 500s linear infinite
	animation: spin 500s linear infinite

.four
	-webkit-animation: spin 1000s linear infinite
	-moz-animation: spin 1000s linear infinite
	animation: spin 1000s linear infinite

.shine-1
	opacity: 0
	-webkit-animation: shine-one 60s  infinite
	-moz-animation: shine-one 60s  infinite
	animation: shine-one 60s  infinite

.shine-2
	opacity: 0
	-webkit-animation: shine-two 150s  infinite
	-moz-animation: shine-two 150s  infinite
	animation: shine-two 150s  infinite

@-webkit-keyframes shine-one
	0%
		opacity: 0
	50%
		opacity: 0.5
	100%
		opacity: 0
    
@keyframes shine-one
	0%
		opacity: 0
	50%
		opacity: 0.5
	100%
		opacity: 0

@-webkit-keyframes shine-two
	0%
		opacity: 0
	10%
		opacity: 0
	25%
		opacity: 0.3
	50%
		opacity: 0
	75%
		opacity: 0.3
	100%
		opacity: 0

@keyframes shine-two
	0%
		opacity: 0
	10%
		opacity: 0
	25%
		opacity: 0.3
	50%
		opacity: 0
	75%
		opacity: 0.3
	100%
		opacity: 0

@-webkit-keyframes spin
	100%
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)
    
@keyframes spin
	100%
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)