/* line 1, ../sass/style.sass */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/style.sass */
.title {
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  z-index: 99;
  top: 44%;
  transform: translateY(-44%);
}
/* line 15, ../sass/style.sass */
.title h1, .title h2 {
  color: white;
  line-height: 1.4em;
  margin: 0;
}
/* line 20, ../sass/style.sass */
.title h1 {
  font-weight: 300;
  text-shadow: 1px 0px 20px rgba(255, 255, 255, 0.3);
}
/* line 23, ../sass/style.sass */
.title h2 {
  font-weight: 100;
  text-shadow: 1px 0px 20px rgba(255, 255, 255, 0.5);
}

/* line 27, ../sass/style.sass */
.container {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-image: url("../images/background.jpg");
}
/* line 33, ../sass/style.sass */
.container img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* line 38, ../sass/style.sass */
.particle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* line 44, ../sass/style.sass */
.one {
  -webkit-animation: spin 2000s linear infinite;
  -moz-animation: spin 2000s linear infinite;
  animation: spin 2000s linear infinite;
}

/* line 49, ../sass/style.sass */
.two {
  -webkit-animation: spin 600s linear infinite;
  -moz-animation: spin 600s linear infinite;
  animation: spin 600s linear infinite;
}

/* line 54, ../sass/style.sass */
.three {
  -webkit-animation: spin 500s linear infinite;
  -moz-animation: spin 500s linear infinite;
  animation: spin 500s linear infinite;
}

/* line 59, ../sass/style.sass */
.four {
  -webkit-animation: spin 1000s linear infinite;
  -moz-animation: spin 1000s linear infinite;
  animation: spin 1000s linear infinite;
}

/* line 64, ../sass/style.sass */
.shine-1 {
  opacity: 0;
  -webkit-animation: shine-one 60s infinite;
  -moz-animation: shine-one 60s infinite;
  animation: shine-one 60s infinite;
}

/* line 70, ../sass/style.sass */
.shine-2 {
  opacity: 0;
  -webkit-animation: shine-two 150s infinite;
  -moz-animation: shine-two 150s infinite;
  animation: shine-two 150s infinite;
}

@-webkit-keyframes shine-one {
  /* line 77, ../sass/style.sass */
  0% {
    opacity: 0;
  }

  /* line 79, ../sass/style.sass */
  50% {
    opacity: 0.5;
  }

  /* line 81, ../sass/style.sass */
  100% {
    opacity: 0;
  }
}

@keyframes shine-one {
  /* line 85, ../sass/style.sass */
  0% {
    opacity: 0;
  }

  /* line 87, ../sass/style.sass */
  50% {
    opacity: 0.5;
  }

  /* line 89, ../sass/style.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shine-two {
  /* line 93, ../sass/style.sass */
  0% {
    opacity: 0;
  }

  /* line 95, ../sass/style.sass */
  10% {
    opacity: 0;
  }

  /* line 97, ../sass/style.sass */
  25% {
    opacity: 0.3;
  }

  /* line 99, ../sass/style.sass */
  50% {
    opacity: 0;
  }

  /* line 101, ../sass/style.sass */
  75% {
    opacity: 0.3;
  }

  /* line 103, ../sass/style.sass */
  100% {
    opacity: 0;
  }
}

@keyframes shine-two {
  /* line 107, ../sass/style.sass */
  0% {
    opacity: 0;
  }

  /* line 109, ../sass/style.sass */
  10% {
    opacity: 0;
  }

  /* line 111, ../sass/style.sass */
  25% {
    opacity: 0.3;
  }

  /* line 113, ../sass/style.sass */
  50% {
    opacity: 0;
  }

  /* line 115, ../sass/style.sass */
  75% {
    opacity: 0.3;
  }

  /* line 117, ../sass/style.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  /* line 121, ../sass/style.sass */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 126, ../sass/style.sass */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
